.product-tile {
    text-align: center;
    border-radius: .7rem;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: max-content;
    position: relative;
    box-shadow: var(--gap-small) var(--gap-small) var(--gap-big) hsla(0, 0%, 0%, .15);
}

.product-tile .image-wrapper {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-tile .image-wrapper img {
    width: 100%
}
.product-tile a {
    text-decoration: none;
    color: var(--base-clr-100);
}

.product-tile .details {
    padding: var(--gap-small);
    display: flex;
    flex-direction: column;
}

.product-tile .bookmark-icon {
    display: flex;
    position: absolute;
    top: -.1rem;
    right: var(--gap-small);
    bottom: auto;
    left: auto;
    font-size: 2rem;
    width: 1rem;
    aspect-ratio: 1 / 2;
    filter: drop-shadow(.2rem .2rem .1rem var(--base-clr-200));
}

.product-tile .bookmark-icon div {
    position: absolute;
    inset: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
    background: var(--acc-clr-200);
}

.product-tile .product-name {
    color: var(--base-clr-100);
    font-size: .9rem;
    margin-bottom: auto;
}

.product-tile .product-price {

}

.product-tile button.cta {
    width: 100%;
    background-color: var(--clr-fg-200);
    transition: all 200ms linear;
}

.product-tile:hover button.cta {
    background-color: var(--acc-clr-200);
}

.product-tile .add-to-cart {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .product-tile .product-name {
        font-size: 1rem;
    }
    .product-tile:hover .image-wrapper img {
        transform: scale(1.1);
    }
    .product-tile .image-wrapper img {
        transition: transform 200ms linear;
    }
}

