.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    list-style-type: none;
}
.product-tile {
    background: white;
    text-align: center;
    border: black 5px solid;
}

