:root {
    --product-tile-width: 140px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--product-tile-width), 1fr));
    gap: var(--gap);
    list-style-type: none;
}

@media (min-width: 602px) and (max-width: 954px) {
    .product-list {
        grid-template-columns: repeat(3, minmax(var(--product-tile-width), 1fr));
    }
}

@media (min-width: 768px) {
    .product-list {
        gap: var(--gap-big);
    }
}
