* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: clamp(14px, 2vw, 20px);
}
body {
    display: grid;
    grid-template-rows: min-content auto min-content min-content;
    grid-template-areas: "header" "content" "icons";
    height: 100vh;
    overflow: hidden;
}
h1 {
    grid-area: header;
}
main {
    grid-area: content;
    overflow: auto;
}
#main-navigation {
    border-top: 2px solid black;
    position: fixed;
    z-index: 0;
    inset: auto 0 calc(1px + 1rem + (2rem * 1.25));
    background: white;
    transform: translateY(100%);
    transition: transform 200ms ease-out;
    grid-area: nav;
}
#main-navigation.active {
    transform: translateY(0);
}
.icons {
    position: relative;
    z-index: 1;
    border-top: 1px solid black;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding:  0 1rem;
    background: white;
    font-size: 2rem;
    grid-area: icons
}
.icons [class^="button-"] {
    padding: .5rem;
    cursor: pointer;
}
@media (min-width: 768px) {
    body {
        grid-template-areas:
                "header  header  header  header  header  header  header  header  header  header  header  icons"
                "nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav"
                "content content content content content content content content content content content content";
        height: revert;
        overflow: revert;
    }
    #main-navigation {
        position: revert;
        inset: revert;
        display: grid;
        grid-auto-flow: column;
        border: revert;
        background: lightgray;
    }
    #main-navigation div {
        display: revert;
    }
    .icons {
        position: revert;
        inset: revert;
        border: revert;
    }
    .button-menu {
        display: none;
    }
}
