* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: clamp(14px, 2vw, 20px);
}
body {
    display: grid;
    grid-template-rows: min-content auto min-content min-content;
    grid-template-areas: "header" "content" "icons";
    height: 100vh;
    overflow: hidden;
    color: var(--clr-fg-100);
    font-family: 'Gideon Roman', cursive;
    font-size: 1rem;
}

a {
    color: var(--clr-acc-100);
}
h3 {
    grid-area: content;
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
}
@media (min-width: 768px) {
    body {
        grid-template-areas:
            "ch-left header  header  header  header  header  header  header  header  search  search  icons   icons   ch-right"
            "nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav"
            "content content content content content content content content content content content content content content";
        height: revert;
        overflow: revert;
        grid-template-columns: var(--content-padding) repeat(12, 1fr) var(--content-padding);
    }
}
