* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: clamp(14px, 2vw, 20px);
}
body {
    color: var(--clr-fg-100);
    font-family: 'Gideon Roman', cursive;
    font-size: 1rem;
    padding-block-start: var(--mobile-header-height);
}

a {
    color: var(--clr-acc-100);
}
h3 {
    grid-area: content;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Saira Stencil One', cursive;
}
@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas:
            "ch-left header  header  header  header  header  header  header  header  search  search  search   icons   ch-right"
            "nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav     nav"
            "content content content content content content content content content content content content content content";
        overflow: revert;
        grid-template-columns: var(--content-padding) repeat(12, 1fr) var(--content-padding);
        padding-block-start: revert;
    }
}
