header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);

    position: fixed;
    inset: 0 0 auto;
    z-index: 1;
    background: var(--clr-bg-100);
    height: var(--mobile-header-height);
}
header .logo {
    font-size: 2rem;
    display: flex;
    color: var(--base-clr-200);
    filter: drop-shadow(.2rem .2rem .1rem var(--base-clr-100));
}
header h2 {
    font-size: 2rem;
    font-family: 'Saira Stencil One', cursive;
}
@media (min-width: 768px) {
    header {
        position: revert;
        inset: revert;
        z-index: revert;
        background: revert;
        height: revert;
    }
    header h2 {
        font-size: 2.5rem;
    }
}
