.hero-image {
    overflow: hidden;
    height: 35vh;
    position: relative;
}
.hero-image img {
    width: 100%;
}
.hero-image img {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.hero-image .hero-text {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.hero-image h1 {
    --gradient-100: radial-gradient(hsl(0, 0%, 5.9%), hsl(619.3, 50%, 50%));
    --gradient-200: radial-gradient(hsl(0, 0%, 5.9%), hsl(151.7, 60%, 50%));
    --the-gradient: var(--gradient-100);
    --hero-bg-grunge: url(/img/grunge.png);
    background: var(--hero-bg-grunge);
    background-clip: text;
    color: transparent;
    background-blend-mode: overlay;
    font-family: 'Saira Stencil One', cursive;
    font-size: clamp(35px, 6vw, 100px);
    margin: 0;
    padding: 0;
    line-height: 1;
}



@media (min-width: 768px) {
    .content .hero-image {
        grid-area: hero;
    }
}
