.text-content {
    background: lightgray;
    padding: 1em 3em;
    margin: 2.5em 0;
}
.content-headline {
    padding-bottom: 1.5rem;
}
.content-text {
    columns: auto 35ch;
    column-count: 2;
    gap: var(--gap);
    color: var(--base-clr-200);
}
@media (min-width: 768px) {
    .text-content {
        padding: 2em 6em;
        margin: 5em calc(-1 * var(--content-padding));
    }
}
