#main-nav {
    grid-area: nav;
}
@media (min-width: 768px) {
    #main-nav {
        display: grid;
        grid-auto-flow: column;
        background: var(--clr-fg-200);
    }
    #main-nav div {
        display: revert;
    }
}
