#mini-search label {
    display: flex;
}

@media (min-width: 768px) {
    #mini-search {
        position: revert;
        inset: revert;
        transform: revert;
        border: revert;
        grid-area: search;
        display: grid;
        place-items: center;
    }
}
