#mini-search {
    padding: .5rem;
}
#mini-search label {
    display: flex;
    gap: .5rem;
    font-size: 1.4rem;
}
#mini-search input {
    border-style: none;
    border-color: var(--clr-bg-dark-100);
    flex-grow: 1;
    border-width: 1px;
}
#mini-search input:focus-visible {
    outline: none;
    border-bottom-style: solid;
}
.button-mini-search {
    display: none;
}
#search-animation-trigger {
    display: none;
}
@media (min-width: 768px) {
    #mini-search {
        position: revert;
        inset: revert;
        transform: revert;
        border: revert;
        grid-area: search;
        display: grid;
        place-items: center;
    }
    #mini-search input {
        border-style: none none solid;
        flex-grow: revert;
    }
    #mini-search label {
        font-size: 1.9rem;
    }
    .button-mini-search {
        display: revert;
    }
    input {
        border-width: 1px;
        border-color: var(--clr-bg-dark-100);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-out;
        position: fixed;
    }
    #search-animation-trigger:checked ~ input {
        transform: scaleX(1);
    }
}
