.slide-up-container {
    border-top: 2px solid black;
    position: fixed;
    z-index: 0;
    inset: auto 0 calc(1px + 1rem + (2rem * 1.25));
    background: white;
    transform: translateY(100%);
    transition: transform 200ms ease-out;
}
.slide-up-container.active {
    transform: translateY(0);
}

@media (min-width: 768px) {
    .slide-up-trigger {
        display: none;
    }
    .slide-up-container {
        position: revert;
        inset: revert;
        transform: revert;
        transition: revert;
        border: revert;
        background: revert;
        z-index: revert;
    }
}
