.product-page {
    display: grid;
    grid-area: main;
    color: var(--base-clr-200);
    grid-template-areas:
        "name"
        "image"
        "details"
        "descr"
        "crs";
}

.product-details {
    display: grid;
    grid-template-areas:
        'price'
        'addtocart'
        'sd';
    gap: var(--gap);
    padding: .5rem;
}

.description-text {
    background: var(--clr-fg-200);
    padding: 2em 2em;
    margin: 1.5em 0;
    grid-area: descr;
    font-size: 1.2rem;
}

.product-image {
    grid-area: image;
}

.product-image img {
    max-width: 100%;
}

.product-page .product-page-name {
    font-size: 3rem;
    padding: var(--gap-big);
    grid-area: name;
}

.product-page .product-price {
    font-size: 3rem;
    justify-content: center;
    grid-area: price;
}

.short-description-text {
    font-size: 1.5rem;
    grid-area: sd;
}

.product-page button.cta {
    background-color: var(--clr-fg-200);
    cursor: pointer;
    max-width: 15rem;
}

.crossselling {
    grid-area: crs;
}

.thumbnails img {
    display: none;
}

@media (min-width: 768px) {
    .product-page {
        grid-template-areas:
            ". image name ."
            ". image details ."
            "descr descr descr descr"
            "crs crs crs crs";
        align-items: center;
        grid-template-columns: 1fr max-content 2fr 1fr;
        grid-auto-rows: auto;
    }

    .description-text {
        padding: 3em 3em;
        margin: 2em;
    }

    .product-image {
    }

    .product-page-name {
        font-size: 3rem;
    }

    .product-page .product-price {
        font-size: 3rem;
    }

    .short-description-text {
        padding: revert;
        max-width: 30rem;
    }

    .product-details {
        gap: var(--gap);
        grid-area: details;
    }

    .product-page button.cta {
        max-width: 15rem;
    }

    .product-page button.cta:hover {
        background-color: var(--acc-clr-200);
    }

    .thumbnails img {
        opacity: .8;
        cursor: pointer;
        grid-area: thumbnails;
    }

    .thumbnails img:hover {
        opacity: 1;
    }

    .thumbnails > img:nth-child(1) {
        height: 5rem;
    }

    .thumbnails > img:nth-child(2) {
        height: 5rem;
    }

    .thumbnails > img:nth-child(3) {
        height: 5rem;
    }

    .product-gallery {
        display: grid;
        grid-template-areas:
            "default-image"
            "thumbnails";
    }

    .product-gallery .slider {
        grid-area: default-image;
    }
}
