.product-page {
    display: grid;
    grid-area: main;
    color: var(--base-clr-200);
    grid-template-areas:
        "image"
        "details"
        "descr";
}

.product-details {
    display: grid;
    grid-template-areas:
        'name'
        'price'
        'sd';
    gap: var(--gap);
    padding: .5rem;
}

.description-text {
    background: var(--clr-fg-200);
    padding: 2em 2em;
    margin: 1.5em 0;
    grid-area: descr;
    font-size: 1.2rem;
}

.product-image {
    grid-area: image;
}
.product-image img {
    max-width: 100%;
}

.product-page-name {
    font-size: 2rem;
    justify-content: left;
    grid-area: name;
}

.product-page .product-price {
    font-size: 3rem;
    justify-content: left;
    grid-area: price;
}

.short-description-text {
    font-size: 1.5rem;
    grid-area: sd;
}

@media (min-width: 900px) {
    .product-page {
        grid-template-areas:
            "image details"
            "descr descr";
        align-items: center;
        grid-template-columns: min-content auto;
    }

    .description-text {
        padding: 3em 3em;
        margin: 2em;
    }

    .product-image {
    }

    .product-image img {
        max-width: revert;
    }

    .product-page-name {
        font-size: 3rem;
    }

    .product-page .product-price {
        font-size: 3rem;
    }

    .short-description-text {
        padding: revert;
    }

    .product-details {
        padding: 3rem;
        gap: var(--gap);
    }
}
