.product-page {
    display: grid;
    grid-area: main;
    color: var(--base-clr-200);
    grid-template-areas:
        "name"
        "image"
        "details"
        "descr";
}

.product-details {
    display: grid;
    grid-template-areas:
        'price'
        'addtocart'
        'sd';
    gap: var(--gap);
    padding: .5rem;
}

.description-text {
    background: var(--clr-fg-200);
    padding: 2em 2em;
    margin: 1.5em 0;
    grid-area: descr;
    font-size: 1.2rem;
}

.product-image {
    grid-area: image;
}
.product-image img {
    max-width: 100%;
}

.product-page .product-page-name {
    font-size: 3rem;
    padding: var(--gap-big);
    grid-area: name;
}

.product-page .product-price {
    font-size: 3rem;
    justify-content: left;
    grid-area: price;
}

.short-description-text {
    font-size: 1.5rem;
    grid-area: sd;
}

.product-page button.cta {
    background-color: var(--clr-fg-200);
    cursor: pointer;
    max-width: 10rem;
}


@media (min-width: 768px) {
    .product-page {
        grid-template-areas:
            "pm-left pm-left image name pm-right"
            "pm-left pm-left image details pm-right"
            "descr descr descr descr descr";
        align-items: center;
        grid-template-columns: auto min-content auto;
        grid-auto-rows: auto 1fr;
    }

    .description-text {
        padding: 3em 3em;
        margin: 2em;
    }

    .product-image {
        padding-top: 2rem;
    }

    .product-image img {
        max-width: revert;
    }

    .product-page-name {
        font-size: 3rem;
    }

    .product-page .product-price {
        font-size: 3rem;
    }

    .short-description-text {
        padding: revert;
        max-width: 20rem;
    }

    .product-details {
        padding: 2rem;
        gap: var(--gap);
        grid-area: details;
    }
    .product-page button.cta {
        max-width: 10rem;
    }

    .product-page button.cta:hover {
        background-color: var(--acc-clr-200);
    }

}
