.slider {
    position: relative;
    overflow: hidden;
    --move: 1;
    z-index: 0;
    aspect-ratio: 13 / 13;
    width: 300px;
    --transition-property: all;
    --transition-duration: 250ms;
    margin-inline: auto;
}


.slider > * {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: var(--transition-property) var(--transition-duration) ease-in-out;
}

.slider > *:not(.cur):not(.prev):not(.next) {
    display: none;
}


.slider > .prev.prev {
    transform: translateX(calc(var(--move) * -100%));
    z-index: 0;
}

.slider > .next {
    transform: translateX(calc(var(--move) * 100%));
    z-index: 0;
}

.slider > .cur {
    transform: translateX(0);
    z-index: 1;

}

/* snap next slide to its position except for there are only two slides */
.slider.moving .next {
    /* calculate abs */
    --abs: max(2 - var(--item-count), var(--item-count) - 2);
    /* 1 if abs is not zero -> not exactly two slides */
    --not-two: min(1, var(--abs));
    /* 1 if not-two is zero -> exactly two slides */
    --two: calc(1 - var(--not-two));
    transition-duration: calc(var(--duration) * var(--two))
}
.slider-buttons {
    display: none;
}


@media (min-width: 768px) {

    .product-gallery-wrapper {
        display: flex;
        align-items: center;
    }
    .slider {
        width: 600px;
    }

    .button-back {
        grid-area: default-image;
        font-size: 3rem;
        cursor: pointer;
    }
    .button-fwd {
        grid-area: default-image;
        font-size: 3rem;
        cursor: pointer;
    }
}

