.slider {
    position: relative;
    overflow: hidden;
    --move: 1;
    z-index: 0;
    aspect-ratio: 13 / 13;
    width: 300px;
    --transition-property: all;
    margin-inline: auto;
}


.slider > * {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: var(--transition-property) 250ms ease-in-out;
}

.slider > *:not(.cur):not(.prev):not(.next) {
    display: none;
}


.slider > .prev.prev {
    transform: translateX(calc(var(--move) * -100%));
    z-index: 0;
}

.slider > .next {
    transform: translateX(calc(var(--move) * 100%));
    z-index: 0;
}

.slider > .cur {
    transform: translateX(0);
    z-index: 1;

}

/* snap next slide to its position except for there are only two slides */
.slider.moving .next {
    /* calculate abs */
    --abs: max(2 - var(--item-count), var(--item-count) - 2);
    /* 1 if abs is not zero -> not exactly two slides */
    --not-two: min(1, var(--abs));
    /* 1 if not-two is zero -> exactly two slides */
    --two: calc(1 - var(--not-two));
    transition-duration: calc(var(--duration) * var(--two))
}


@media (min-width: 768px) {
    .slider {
        aspect-ratio: 13 / 13;
        width: 600px;
    }

    .slider-buttons {
        font-size: 3rem;
        cursor: pointer;
    }
}

